<a href="https://colab.research.google.com/github/munjihwan0/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
for i in range(0,3,1) :
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [9]:
for i in [0,1,2,3,4] :
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [10]:
for i in ["봄", "여름", "가을", "겨울"] :
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [12]:
for i in range(1, 11, 1) :
  print(i, "컴퓨터과")

1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [14]:
for i in range(2, 6, 1) :
  print(i, end=" ")

2 3 4 5

In [20]:
result = 1

for i in range(1, 6, 1) :
  result = result * i

print(result)

120

In [25]:
sum = 0

for i  in range(1, 11, 1) :
  sum = sum + i
print(sum)

55

In [30]:
odd_sum = 0
for i in range(1001,2001,2) :
  odd_sum = odd_sum + i
print(odd_sum)

750000

In [32]:
odd_sum = 0
for i in range(1000,2001, 1) :
  if i%2 == 1:
    odd_sum =odd_sum + i
print(odd_sum)

750000

In [33]:
i, hap = 0, 0
for i in range(500, 1001, 2) :
  hap += i
print("500에서 1000까지의 짝수의 합 : ", hap)

500에서 1000까지의 짝수의 합 :  188250

In [38]:
for i in range (3) :
  for k in range(2) :
    print("난생처음 쉽습니다. ^^ (i값:", i ,", k값:", k,")")

난생처음 쉽습니다. ^^ (i값: 0 , k값: 0 )
난생처음 쉽습니다. ^^ (i값: 0 , k값: 1 )
난생처음 쉽습니다. ^^ (i값: 1 , k값: 0 )
난생처음 쉽습니다. ^^ (i값: 1 , k값: 1 )
난생처음 쉽습니다. ^^ (i값: 2 , k값: 0 )
난생처음 쉽습니다. ^^ (i값: 2 , k값: 1 )

In [52]:
for i in range (1, 10, 1) :
  for k in range ( 2, 10, 1) :
    print(k, "x",i, "=", i*k, end="  ")
  print("\n")

2 x 1 = 2  3 x 1 = 3  4 x 1 = 4  5 x 1 = 5  6 x 1 = 6  7 x 1 = 7  8 x 1 = 8  9 x 1 = 9

2 x 2 = 4  3 x 2 = 6  4 x 2 = 8  5 x 2 = 10  6 x 2 = 12  7 x 2 = 14  8 x 2 = 16  9 x 2 = 18

2 x 3 = 6  3 x 3 = 9  4 x 3 = 12  5 x 3 = 15  6 x 3 = 18  7 x 3 = 21  8 x 3 = 24  9 x 3 = 27

2 x 4 = 8  3 x 4 = 12  4 x 4 = 16  5 x 4 = 20  6 x 4 = 24  7 x 4 = 28  8 x 4 = 32  9 x 4 = 36

2 x 5 = 10  3 x 5 = 15  4 x 5 = 20  5 x 5 = 25  6 x 5 = 30  7 x 5 = 35  8 x 5 = 40  9 x 5 = 45

2 x 6 = 12  3 x 6 = 18  4 x 6 = 24  5 x 6 = 30  6 x 6 = 36  7 x 6 = 42  8 x 6 = 48  9 x 6 = 54

2 x 7 = 14  3 x 7 = 21  4 x 7 = 28  5 x 7 = 35  6 x 7 = 42  7 x 7 = 49  8 x 7 = 56  9 x 7 = 63

2 x 8 = 16  3 x 8 = 24  4 x 8 = 32  5 x 8 = 40  6 x 8 = 48  7 x 8 = 56  8 x 8 = 64  9 x 8 = 72

2 x 9 = 18  3 x 9 = 27  4 x 9 = 36  5 x 9 = 45  6 x 9 = 54  7 x 9 = 63  8 x 9 = 72  9 x 9 = 81

In [53]:
i = 0
while(i<3):
  print(i, "컴과 3학년 1반")
  i = i +1

0 컴과 3학년 1반
1 컴과 3학년 1반
2 컴과 3학년 1반

In [54]:
i = 0
while True :
  print("ㅎ", end=" ")
  i = i + 1
  if i == 10 :
    break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ

In [ ]:
def menu() :
  print("#################")
  print("# 1. 덧셈       #")
  print("# 2. 뺄셈       #")
  print("# 3. 나눗셈     #")
  print("# 4. 곱셈       #")
  print("# 5. 종료       #")

def add() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  sum = num1 + num2
  return sum

def sub() :
  num3 = float(input("첫번째 숫자를 입력 : "))
  num4 = float(input("두번째 숫자를 입력 : "))
  sub = num3 - num4
  return sub

def opp() :
  num1 = float(input("첫번째 숫자를 입력 : "))
  num2 = float(input("두번째 숫자를 입력 : "))
  opp = num1 % num2
  return opp

while True :
  menu()
  select = int(input("메뉴를 선택 : "))
  if select == 5 :
    break
  elif select == 1:
    sum = add()
    print("두수의 덧셈 결과 : ", sum)
  elif select == 2:
    sub = sub()
    print("두수의 뺄셈 결과 : ", sub)
  elif select == 3:
    sub = sub()
    print("두수의 뺄셈 결과 : ", opp)

#################
# 1. 덧셈       #
# 2. 뺄셈       #
# 3. 나눗셈     #
# 4. 곱셈       #
# 5. 종료       #
메뉴를 선택 : 3
첫번째 숫자를 입력 : 12
두번째 숫자를 입력 : 2
두수의 뺄셈 결과 :  <function opp at 0x7f39202a0e50>
#################
# 1. 덧셈       #
# 2. 뺄셈       #
# 3. 나눗셈     #
# 4. 곱셈       #
# 5. 종료       #